@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gotham Book';
  src: url(./assets/GothamSSm-Book_Web.woff2);
}

* {
  font-family: 'Gotham Book', sans-serif;
}

/* Tailwind CSS stylesheet */
@layer utilities {
  .brightness-0 {
    filter: brightness(0);
  }

  .invert {
    filter: invert(1);
  }
}
